.herocontact{
  
  padding: 14rem 15rem 15rem 0rem;
  .title{
    font-size: 10rem;
      font-weight: 900;
      line-height: 9rem;
      text-transform: uppercase;
      display: flex;
      flex-direction: column !important;
      letter-spacing: -0.2rem;
  }
}